/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main title styling */
.main-title {
    font-size: 45px; /* Adjust font size */
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Arial', sans-serif;
    color: black;
    text-align: center; /* Center the text */
}

/* Ensure the header is centered and block */
header {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 50px; /* Add space between the title and the images */
}

/* Image container layout */
.gym-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Wraps images to a new line */
    gap: 30px; 
    padding: 20px;
}

/* Style the images */
.gym-images a img {
    width: 340px; /* Size of the images */
    height: 200px; /* Size of the images */
    object-fit: cover; /* Scale up to size */
    border: 2px solid black;
    transition: transform 0.4s, border-color 0.3s, opacity 0.4s;
}

/* Hover effect for images */
.gym-images a img:hover {
    transform: scale(1.10);
    border-color: black; /* Black border on hover */
    opacity: 0.8; /* Slight transparency on hover */
    border-width: 5px; 
}
